.user_profile_head {
    background-color: #fff;
    width: 100%;
    height: 800px;

    .user_profile_back_img_wrap {
        display: flex;
        justify-content: center;
        .user_profile_back_img {
            width: 1250px;
            height: 463px;
            border-radius: 0px 0px max(0px, min(8px, (-100% - 4px + 100vw) * 9999))
                max(0px, min(8px, (-100% - 4px + 100vw) * 9999)) / 0px 0px 8px 8px;
            background-color: #f0f2f5;
            position: relative;
            .user_profile-chose_back_img {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 80px;
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
                border-radius: 0px 0px max(0px, min(8px, (-100% - 4px + 100vw) * 9999))
                    max(0px, min(8px, (-100% - 4px + 100vw) * 9999)) / 0px 0px 8px 8px;
            }
        }
    }
    .user_profile_avt_wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        // margin-bottom: 16px;
        .user_profile_avt {
            width: 1186px;
            height: 145px;
            margin-bottom: 16px;
            // background-color: red;
        }
    }
}
.user_profile_avt {
    position: relative;
    display: flex;
    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--seperator);
        bottom: -17px;
    }
}
.user_profile_avt_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 4px;
    background-color: #fff;
}
.user_profile_avt_img_wrap {
    position: absolute;
    height: 176px;
    width: 176px;
    bottom: 0;
}
.user_profile_avt_fake {
    height: 100%;
    width: 176px;
    margin-right: 16px;
}
.user_profile_name {
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.user_profile_name_ {
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 0.7;
}
.user_profile_friend_amout {
    color: #65676b;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 16px;
}

.user_profile_avt_cam_rounded {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #e4e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.user_profile_avt_cam {
    z-index: 2;
    height: 20px;
}
